@import "../../../styles/variables.scss";

.error {
  background-color: $color-main;
  padding: $basic-size * 3;
}

.table {
  margin: 0 auto $basic-size * 3;
  table-layout: fixed;
  width: 100%;

  th,
  td {
    width: 20%;
    padding: 10px 0;
    border: 0;
  }

  &__header th {
    padding-bottom: $basic-size * 3;
  }

  &__body tr:hover {
    background-color: lighten($color-main, 20%);
    transition: $transition-background;
  }
}

@media (min-width: 37.5rem) {
  .table {
    width: auto;
    max-width: 70vw;
  }
}
