@import "../../../styles/variables.scss";

.error {
  background-color: $color-main;
  padding: $basic-size * 3;
}

.table {
  margin: 0 auto $basic-size * 3;
  width: 70vw;
  background-color: $color-main;
  padding: $basic-size * 2;
  border-radius: calc($basic-size / 2);

  th,
  td {
    padding: $basic-size;
  }

  &__header th {
    padding-bottom: $basic-size;
  }

  &__body {
    tr:nth-of-type(odd) {
      background-color: lighten($color-main, 20%);
    }
  }
}
