$color-dark: #23231a; //semi black
$color-light: #f2efe9; //semi white
$color-main: #749c75; //green

$font-header: "Roboto Mono", monospace;
$font-text: "Lexend Deca", sans-serif;

$basic-size: 12px;

$transition-background: background-color 0.15s linear;
